[submodule "submodules/graphify"]
	path = submodules/graphify
	url = https://github.com/safishamsi/graphify.git
[submodule "submodules/csharp-language-server"]
	path = submodules/csharp-language-server
	url = https://github.com/razzmatazz/csharp-language-server.git
[submodule "submodules/rust-analyzer"]
	path = submodules/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer.git
[submodule "submodules/zed"]
	path = submodules/zed
	url = https://github.com/zed-industries/zed.git
[submodule "submodules/gpui-flow"]
	path = submodules/gpui-flow
	url = https://github.com/pacifio/gpui-flow.git
[submodule "submodules/Blazor.Diagrams"]
	path = submodules/Blazor.Diagrams
	url = https://github.com/Blazor-Diagrams/Blazor.Diagrams.git
[submodule "submodules/tauri"]
	path = submodules/tauri
	url = https://github.com/tauri-apps/tauri.git
